body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(66, 71, 82);
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,ul,li{
  text-decoration: none;
  list-style-type: none;
}

.active{
  color: aliceblue;
  background-color: rgb(50, 59, 77);
}

.active:nth-child(1){
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.active:nth-child(2){
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}